
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */

.display-flex{
    display: flex;
}


/* dark 2 */

.text-gray{
    color: #424242;
}

/* dark 3 */

.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

.section-title{
    font-size: 2.80rem;
    font-weight: 700;
}

/* Header Styles */




/* Nav styles */

.nav-item{
    list-style: none;
}

.brand{
    font-weight: bold;
    font-size: 2.8rem;
    color: #131313;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    margin-right: 30px;
}

.navbar{
    justify-content: space-between;
    align-items: center;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related styles */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: bold;
    font-size: 4rem;
    color: #131313;
}

.banner-description{
    font-size: 1rem;
    line-height: 26px;
    
}

.banner-image{
    width: 100%;
}

/* teams adn features related style */

.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features{
    margin-left: 130px;
    max-width: 530px;
}

#quick-list{
    color: #727272;
    font-weight: normal;
}

#features-color{
    color: #FF900E;
}

.feature-description{
    margin-bottom: 31px;
}

/* features section related styles */

.features{
    gap: 140px
}

#features-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin: 20px;
    border-radius: 8px;
}

.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-size: 500;
    margin-left: -100px;
    margin-top: -100px;
}

#experience-year{
    font-size: 4rem;
    font-weight: 700;
}

.featured-architect img{
    width: 100%;
}



/* some facts related styles */

.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

.fact-description{
    max-width: 540px;
    line-height: 26px;
}

.sponsors-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsors-companies{
    filter: grayscale(100%);

}

footer{
    max-width: 1440px;
    margin: 130px auto;
    background-color: #FFF4E7;
    border-radius: 8px;
}

footer p{
    text-align: center;
    padding: 40px;
}



/* responsive media query */

@media screen and (max-width:576px) {
    .navbar, 
    .nav-links, 
    .features{
        flex-direction: column;
    }

    .teams{
        flex-direction: column;
    }

    .team-img-container, 
    .fact-container, 
    .sponsors-companies
    {
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features{
    margin-left: 0px;
    padding: 0 50px;
}

.fact-container{
    justify-items: center;
    gap: 24px;
}

.sponsors-companies{
    justify-items: center;
    gap: 50px;
}

#experience-badge{
    margin-top: 20px;
    margin-left: 20px;
}

}

@media screen and (min-width: 576px) and (max-width: 992px) {
      .teams, .features{
        flex-direction: column;
    }

    .our-features{
    margin-left: 0;
}

.sponsors-companies, .fact-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
}

#experience-badge{
    margin-top: 20px;
    margin-left: 20px;
}

}
